body {
  margin: 0;
  background: black;
  color: white;
  font-family: 'Georgia', serif;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  text-align: center;
  padding: 20px;
}

.last {
  color: pink;
}
